.sidebar-div {
  height: 100%;
  position: relative;
  transition-duration: 300ms;
}

.save-div {
  padding: 15px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 300px;
  height: 70px;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.save-icon {
  cursor: pointer;
  margin-right: auto;
}

.edit-btn {
  width: 70px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #355C7D !important;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.edit-btn.done {
  background-color: red !important;
}

.save-icon:hover {
  transform: scale(1.2);
}

.nav-link-div {
  margin-top: 70px;
  margin-bottom: 70px;
  overflow: auto;
}

.crystal-ui-nav {
  text-align: left !important;
  padding: 15px !important;
  transition-duration: 300ms;
}

.crystal-ui-nav.title {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 5px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 15px;
  background-color: #6C5B7B;
  color: white;
  text-align: center !important;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.crystal-ui-nav.edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding: 15.5px !important;
}

.crystal-ui-nav.mantine-NavLink-root {
  &[data-active] {
    font-weight: bold;
    color: black ;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 18px !important;
  }
}

.crystal-ui-nav-mesos {
  font-size: 12px !important;
  font-weight: bold !important;
}

.crystal-ui-nav.total {
  margin-top: 15px;
  text-align: center !important;
  font-weight: bold;
}

.crystal-ui-del-btn {
  margin-left: auto;
  cursor: pointer;
}

.new-char-form {
  display: flex;
  align-items: center;
}

.crystal-ui-nav.input {
  width: max-content;
  margin: auto;
}

.new-char-btn {
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.new-char-btn:hover .new-char-btn-icon {
  transform: scale(1.2);
}


.sidebar-footer-div {
  padding: 15px;
  bottom: 0;
  position: absolute;
  font-size: 10px;
  text-align: justify;
  height: 70px;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}